// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$title-color: rgb(47, 48, 52);

// Main
$primary: #3498db;

// Colors
$white: #ffffff;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #ed3c0d;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$nero: #222222;
$gray: #777777;
$davy-gray: #555555;
$light-blue: #57aae1;
$charcoal: #484848;
$alice-blue: #f7fbfe;
$dim-gray:  #6f6f6f;
$cod-gray: #111111;
$white-smoke: #b0e3fa;
$nobel: #999999;
$dark-gray: #aaaaaa;
$dark-blue: #2c4964;
$cyan-light: #2bf3e9;
$light-green: #18d26e;
$gray-default: #f8f8f8;

// Tone
$main-tone: #0f456a;
$main-tone-2: #06234b;
$bg-tone: #f5faff;
$primary-tone-1: #e7f2fc;
$tone-1: #eaf2fb;

// Shadow
$shadow-1: rgba(0, 0, 0, 0.1);