//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and Codebase functions/mixins/styles etc
// --------------------------------------------------

// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';

body {
    background-color: #fbfbfb;
}

.img-status {
    position: relative;
    display: inline-block;

    &-indicator {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 12px;
        height: 12px;
        border: 2px solid $white;
        border-radius: 5px;
        z-index: 1;
    }
}

.chat-list {
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
        display: flex;
        align-items: center;
        padding: 10px 5px;
        border-bottom: 1px solid rgba(0, 0, 0, .05);

        &:hover {
            background-color: rgba(0, 0, 0, .025);
        }

        &:last-child {
            border-bottom: none;
        }
    }
}

.logo-icon {
    width: 20px;
    height: 20px;
    margin-top: -7px;
}

address, dl, ol, ul {
    margin-bottom: 0;
}

.custom-radio {
    label {
        cursor: pointer;
    }
}

.required {
    color: $red;
}

.dropdown-menu {
    z-index: 10000;

    li.selected {
        a {
            background-color: $primary;

            .text, .check-mark {
                color: $white;
            }
        }
    }
}

.table thead th {
    font-size: 12px;
}

// For Admin Dashboard logo background
.for-main-logo {
    border-radius: 3px;
    background-color: #ffffff;
    padding: 10px;
}

.for-dashboard-logo {
    border-radius: 3px;
    background-color: #343a40;
    padding: 10px;
}

.for-footer-logo {
    border-radius: 3px;
    background-color: #3498db;
    padding: 10px;
}

// for cke inline styling

.cke_textarea_inline {
    position: relative;
    padding: 0.4285714rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    color: #575757;
    background-clip: padding-box;
    border: 1px solid #d4dae3;
    border-radius: 0.25rem;
    transition: border-color ease-in-out 0.15s;
    min-height: 120px;

    .content p, .content .push, .content .block, .content .items-push > div {
        margin-bottom: 5px !important;
    }

    h2 {
        font-size: 24px !important;
    }

    h3 {
        font-size: 20px !important;
    }

    p {
        margin-bottom: 5px;
    }
}

.image-credits {
    display: subgrid;
    position: absolute;
    left: 10px;
    bottom: 5px;
}

.sidebar-inverse #sidebar .nav-main a:hover > i, .sidebar-inverse #sidebar .nav-main a:focus > i, .sidebar-inverse #sidebar .nav-main a.active > i, .sidebar-inverse #sidebar .nav-main li.open > a.nav-submenu > i {
    color: $white;
}

.html-content {
    p {
        margin-bottom: 0px;
    }
}

.html-content-table {
    h1 {
        font-size: 15px;
        font-weight: normal;
        margin-bottom: 5px;
    }

    h2 {
        font-size: 16px;
        font-weight: normal;
    }
}

strong {
    font-weight: 800 !important;
}

.note-toolbar {
    z-index: auto;
}

.note-editing-area {
    p {
        margin-bottom: 0px;
    }
}

.note-editor .note-editable {
    line-height: 1;
}

.for-banner {
    .note-editing-area {
        h1 {
            margin: 0;
            font-size: 24px;
            font-weight: normal;
            line-height: 32px;
            margin-bottom: 5px;
        }
        h2 {
            margin-bottom: 50px;
            margin-top: 20px;
            font-size: 18px;
        }
    }
}

.table {
    width: 100% !important;
}

// $dayWidth: 49px; /*pixel square for each day - default is 39 */
// $width: $dayWidth * 7; 
// .flatpickr-calendar {
//     width: $width;
// }
// .dayContainer {
//     width: $width;
//     min-width: $width;
//     max-width: $width;
// }
// .flatpickr-days {
//     width: $width;
// }
// .flatpickr-day {
//     max-width: $dayWidth;
//     height: $dayWidth;
//     line-height: $dayWidth;
// }

.form-control.input {
    display: none;
}