/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: $font-family-sans-serif;
  color: $charcoal;
}

a {
  color: $primary;
}

a:hover {
  color: #5faee3;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 95px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  color: $primary;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: $tone-1;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
// @media screen and (max-width: 768px) {
//   [data-aos-delay] {
//     transition-delay: 0 !important;
//   }
// }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  z-index: 997;
  transition: all 0.5s;
  padding: 22px 0;
}

#header.header-scrolled {
  box-shadow: 0px 2px 15px $shadow-1;
  padding: 5px 0;
  background: $white;
}

// #header.navigation-default {
//   box-shadow: unset;
//   padding: 20px 0;
//   background: $white;
// }


// #header.header-scrolled.navigation-default {
//   box-shadow: 0px 2px 15px $shadow-1;
//   padding: 20px 0;
//   background: $white;
// }

#header .logo img {
  filter:  brightness(0) invert(1);
}

// #header.navigation-default .logo img {
//   filter:  none;
// }

// #header.header-scrolled.navigation-default .logo img {
//   filter:  none;
// }

#header.header-scrolled .logo img {
  filter:  none;
}

#header .logo h1 {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: $nero;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 50px;
}

@media (max-width: 768px) {
  #header {
    /* background: $white; */
  }
  #header .logo h1 {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.header-scrolled .nav-menu a {
  display: block;
  position: relative;
  color: $davy-gray;
  padding: 8px 0 12px 25px;
  transition: 0.3s;
  font-size: 14px;
  font-family: $font-family-sans-serif;
}

// .navigation-default .nav-menu a {
//   display: block;
//   position: relative;
//   color: $davy-gray;
//   padding: 8px 0 12px 25px;
//   transition: 0.3s;
//   font-size: 14px;
//   font-family: $font-family-sans-serif;
// }

.nav-menu a {
  display: block;
  position: relative;
  color: $white;
  padding: 8px 0 12px 25px;
  transition: 0.3s;
  font-size: 14px;
  font-family: $font-family-sans-serif;
  transition-duration: 100ms;
}

// .navigation-default .nav-menu a:hover {
//   color: $davy-gray;
//   text-decoration: none;
//   // padding-top: 5px;
// }

.nav-menu a:hover {
  color: $cod-gray;
  text-decoration: none;
  // padding-top: 5px;
}

// .navigation-default .nav-menu a:hover, .nav-menu .active > a {
//   color: $davy-gray !important;
//   text-decoration: none;
// }

.nav-menu a:hover, .nav-menu .active > a {
  color: $alice-blue;
  text-decoration: none;
}

.header-scrolled .nav-menu a:hover, 
.header-scrolled .nav-menu .active > a {
  color: $primary;
  text-decoration: none;
}

.nav-menu li.get-started {
  margin: 0 0 0 30px;
}

.nav-menu .get-started li:hover {
  a {
    padding-top: 10px !important;
  }
}

.nav-menu .get-started a {
  background: transparent;
  color: $white;
  border: 1px solid $white;
  border-radius: 5px;
  padding: 10px 25px;
}

.nav-menu .get-started a:hover {
  background: $main-tone;
  color: $white;
  padding-top: 10px;
}

.header-scrolled .nav-menu .get-started a {
  background: $main-tone;
  color: $white;
  border: 1px solid $main-tone;
  border-radius: 5px;
  padding: 10px 25px;
}

.header-scrolled .nav-menu .get-started a:hover {
  background: $white;
  color: $main-tone;
  padding-top: 10px;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 25px;
  // top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 0;
  background: $bg-tone;
  /* box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25); */
  transition: ease all 0.3s;
  border-radius: 2px;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  // top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px;
  font-size: 14px;
  text-transform: none;
  color: $nero;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: $primary;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 20px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: $white;
}

.my-header-scrolled.mobile-nav-toggle i {
  color: $nero;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: $white;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 5px;
  padding: 5px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: $nero;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: $primary;
  text-decoration: none;
}

.mobile-nav .get-started {
  text-align: center;
  margin-top: 10px;
}

.mobile-nav .get-started a {
  background: $primary;
  color: $white;
  border-radius: 5px;
  margin: 0 15px;
  padding: 10px 30px;
  display: inline-block;
}

.mobile-nav .get-started a:hover {
  background: $light-blue;
  color: $white;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(9, 9, 9, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: $white;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 700px;
  /* margin-top: 70px; */
  // background-image: url('../img/cbos/beeeencch.jpg');
  // background-image: url('../img/cbos/cbos-header.png');
  background-color: $main-tone;
  background-position: center;
  background-repeat: no-repeat;
}

section#hero, section#hero-2, section#hero-3 {
  padding: 0;
}

#hero h1, #hero-2 h1, #hero-3 h1 {
  margin: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
  color: $white;
}

// Hero 2
#hero h2 {
  color: $white;
  margin-bottom: 50px;
  margin-top: 20px;
  font-size: 18px;
}

#hero-2 h2, #hero-3 h2 {
  color: $white;
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 18px;
}

#hero-2 h1, #hero-3 h1 {
  margin-bottom: 5px;
}

#hero-2 {
  width: 100%;
  min-height: 500px;
  /* margin-top: 70px; */
  // background-image: url('../img/cbos/beeeencch.jpg');
  // background-image: url('../img/cbos/cbos-header.png');
  background-color: $main-tone;
  color: $white;
  background-position: center;
  background-repeat: no-repeat;
}

#hero-3 {
  width: 100%;
  min-height: 300px;
  /* margin-top: 70px; */
  // background-image: url('../img/cbos/beeeencch.jpg');
  // background-image: url('../img/cbos/cbos-header.png');
  background-color: $main-tone;
  color: $white;
  background-position: center;
  background-repeat: no-repeat;
}

// #hero-2 h1 {
//   margin: 0 0 10px 0;
//   font-size: 32px;
//   font-weight: 540;
//   line-height: 40px;
//   color: $white;
// }

// #hero-2 h2 {
//   color: $white;
//   font-size: 24px;
// }

section#hero-2, section#hero-3 {
  padding-bottom: 0px;
}

.hero-mobile {
  display: none;
}

// #hero .btn-get-started {
//   font-family: "Roboto", sans-serif;
//   font-weight: 500;
//   font-size: 16px;
//   letter-spacing: 1px;
//   display: inline-block;
//   padding: 10px 30px;
//   border-radius: 5px;
//   transition: 0.5s;
//   color: $primary;
//   border: 2px solid $primary;
// }

// #hero .btn-get-started:hover {
//   background: $primary;
//   color: $white;
// }

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
  /* #hero {
    background-attachment: fixed;
  } */
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero {
    /* margin-top: 20px; */
  }
  #hero h1 {
    font-size: 20px;
    line-height: 24px;
  }
  #hero h2 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
  }
  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  section#hero, section#hero-2, section#hero-3 {
    padding: 35px 0 0;
  }

  #hero {
    height: 420px;
    min-height: 420px;
    text-align: center !important;
    background-image: none !important;

    h1 {
      // font-size: 14px;
    }
  }

  #hero-2 {
    // height: 400px;
    min-height: 300px;
    text-align: center !important;
    background-image: none !important;
  }

  #hero-3 {
    // height: 200px;
    min-height: 200px;
    text-align: center !important;
    background-image: none !important;
  }

  #hero .hero-img img {
    width: 80%;
  }

  .hero-mobile {
    display: block;
    margin-top: -100px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 20px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  // font-size: 30px;
  // font-weight: bold;
  // // text-transform: uppercase;
  // position: relative;
  // color: $nero;
  font-weight: 700;
  margin: 0px 0px 0.5em;
  white-space: pre-wrap;
  color: $title-color;
  font-size: 1.8rem;
  line-height: 2rem;
  text-align: center;
}

// .section-title h2::before, .section-title h2::after {
//   content: '';
//   width: 50px;
//   height: 2px;
//   background: $primary;
//   display: inline-block;
// }

// .section-title h2::before {
//   margin: 0 15px 10px 0;
// }

// .section-title h2::after {
//   margin: 0 0 10px 15px;
// }

.section-title p {
  margin: 15px 0 0 0;
}

@media (max-width: 768px) {
  section {
    padding: 60px 0;
  }
  .section-title h2 {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  section {
    padding: 30px 0;
  }
  .section-title h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 18px;
  }
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  padding: 80px 0 50px;
  text-align: center;
}

.clients .col-lg-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients img {
  width: 50%;
  -webkit-filter: grayscale(100);
  filter: grayscale(100);
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 10px 0;
}

.clients img:hover {
  -webkit-filter: none;
  filter: none;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .clients img {
    width: 40%;
  }
}

@media (max-width: 575px) {
  .clients {
    padding: 30px 0;
    text-align: center;
  }

  .clients img {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.content h3 {
  font-weight: 600;
  font-size: 26px;
}

.content ul {
  list-style: none;
  padding: 0;
}

.content ul li {
  padding-left: 28px;
  position: relative;
}

.content ul li + li {
  margin-top: 10px;
}

.content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: $primary;
  line-height: 1;
}

.content p:last-child {
  margin-bottom: 0;
}

.content .btn-learn-more {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 1;
  color: $primary;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid $primary;
}

.content .btn-learn-more:hover {
  background: $primary;
  color: $white;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts .content .count-box i {
  display: block;
  font-size: 36px;
  color: $primary;
  float: left;
}

.counts .content .count-box span {
  font-size: 36px;
  line-height: 30px;
  display: block;
  font-weight: 700;
  color: $nero;
  margin-left: 50px;
}

.counts .content .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 50px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: $charcoal;
}

.counts .content .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: $charcoal;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.counts .content .count-box a:hover {
  color: $dim-gray;
}

@media (max-width: 1024px) {
  .counts .image {
    text-align: center;
  }
  .counts .image img {
    max-width: 70%;
  }
}

@media (max-width: 667px) {
  .counts .image img {
    max-width: 100%;
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 0  0 40px 0;
  background: $white;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  text-align: center;
  border-bottom: 3px solid $white;
}

.services .icon-box:hover {
  transform: translateY(-5px);
  border-color: $primary;
}

.services .icon i {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 15px;
  color: $primary;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: $cod-gray;
}

.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# More Services
--------------------------------------------------------------*/
.card {
  border: 0;
  padding: 20px;
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card-body {
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 30px;
  box-shadow: 0px 2px 15px $shadow-1;
  transition: 0.3s;
  transition: ease-in-out 0.4s;
  border-radius: 5px;
}

.card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.card-title a {
  color: $nero;
}

.card-text {
  color: $davy-gray;
}

.read-more a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.4s;
}

.read-more a:hover {
  text-decoration: underline;
}

// .card:hover .card-body {
//   background: $primary;
// }

// .card:hover .read-more a, .card:hover .card-title, .card:hover .card-title a, .card:hover .card-text {
//   color: $white;
// }

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-wrap {
  padding-left: 50px;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 60px;
  margin: 30px 15px;
  min-height: 200px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  background: $white;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid $white;
  position: absolute;
  left: -45px;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: $cod-gray;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: $nobel;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: $nobel;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
}

.owl-nav, .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $white-smoke !important;
}

 .owl-dot.active {
  background-color: $primary !important;
}

@media (max-width: 767px) {
  .testimonials .testimonial-wrap {
    padding-left: 0;
  }
  .testimonials .testimonial-item {
    padding: 30px;
    margin: 15px;
  }
  .testimonials .testimonial-item .testimonial-img {
    position: static;
    left: auto;
  }
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: $white;
  box-shadow: 0px 2px 15px $shadow-1;
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
}

.team .member .social a {
  transition: color 0.3s;
  color: $nero;
  margin: 0 10px;
  padding-top: 8px;
  display: inline-block;
}

.team .member .social a:hover {
  color: $primary;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: $nero;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: $dark-gray;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: $gray;
}

.team .member:hover .social {
  opacity: 1;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
  padding: 20px;
  background: $white;
  text-align: center;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 2px 15px $shadow-1;
}

.pricing h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: $dark-blue;
  background: $white-smoke;
}

.pricing h4 {
  font-size: 36px;
  color: $primary;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

.pricing h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing h4 span {
  color: $cod-gray;
  font-size: 16px;
  font-weight: 300;
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: $charcoal;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.pricing ul li {
  padding-bottom: 5px;
}

.pricing ul i {
  color: $primary;
  font-size: 18px;
  padding-right: 4px;
}

.pricing ul .na {
  color: $cod-gray;
  text-decoration: line-through;
}

.pricing .spacer {
  margin: 65px 0px;
}

.pricing .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: $white-smoke;
  text-align: center;
  position: absolute;
  bottom: 15px;
  width: 100%;
}

.pricing .btn-buy {
  background: linear-gradient(42deg, $primary 0%, #2bf3e9 100%);
  display: inline-block;
  padding: 10px 35px;
  border-radius: 4px;
  color: $white;
  transition: none;
  font-size: 15px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.pricing .btn-buy:hover {
  background: linear-gradient(180deg, $primary 0%, #2bf3e9 100%);
}

.pricing .featured h3 {
  color: $white;
  background: $primary;
}

.pricing .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: $primary;
  color: $white;
}

/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq .faq-list {
  padding: 0 100px;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li + li {
  // margin-top: 15px;
}

.faq .faq-list li {
  padding: 15px 30px;
  // background: $white;
  border-radius: 5px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px 0 0;
  outline: none;
}

.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: $primary;
}

.faq .faq-list .icon-show, .faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: $dark-blue;
}

.faq .faq-list a.collapsed:hover {
  color: $primary;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .contact-about h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  color: $nero;
}

.contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  color: #777777;
  margin-bottom: 0px;
}

.contact .social-links {
  padding-bottom: 20px;
}

.contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: $white;
  color: $primary;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid $primary;
}

.contact .social-links a:hover {
  background: $primary;
  color: $white;
}

.contact .info {
  color: $charcoal;
}

.contact .info i {
  font-size: 32px;
  color: $primary;
  float: left;
  line-height: 1;
}

.contact .info p {
  padding: 0 0 10px 42px;
  line-height: 28px;
  font-size: 14px;
}

.contact .php-email-form .validate {
  display: none;
  color: $red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: $white;
  background: $orange;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: $white;
  background: $green;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: $white;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid $green;
  border-top-color: $white-smoke;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form button[type="submit"] {
  background: $primary;
  border: 0;
  padding: 10px 24px;
  color: $white;
  transition: 0.4s;
  border-radius: 5px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #3490dc;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 25px 0;
  background: $bg-tone;
  min-height: 40px;
  margin-top: 90px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 72px;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

@media (max-width: 992px) {
  .breadcrumbs ol {
    margin-top: 10px;
  }
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: $charcoal;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: $white;
  box-shadow: 0px 0px 12px 0px $shadow-1;
  padding: 30px 0;
  color: $nero;
  font-size: 14px;
}

#footer .credits {
  font-size: 13px;
  padding-top: 5px;
  color: $nero;
}

#footer .footer-links a {
  color: $nero;
  padding-left: 15px;
}

#footer .footer-links a:first-child {
  padding-left: 0;
}

#footer .footer-links a:hover {
  color: $primary;
}

.dashboard-inner-page {
  padding: 20px 0;
}

.btn-warning {
  color: $white;
}

.btn-warning:hover {
  color: $white;
}

.main-tone {
  background: $main-tone;
  color: $white;
}

.primary-tone-1 {
  background: $primary-tone-1;
}

.bg-tone {
  background: $bg-tone;
}

.tone-1 {
  background: $tone-1;
}

// Button Get Started
#hero, .tone-1 {
  .btn-get-started {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
    transition: 0.5s;
    border: 1px solid $white;
    background: $white;
    color: $main-tone;
  }
  
  .btn-get-started:hover {
    background: $main-tone;
    color: $white;
  }

  .btn-get-started-2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
    transition: 0.5s;
    border: 1px solid $white;
    background: $main-tone;
    color: $white;
  }
  
  .btn-get-started-2:hover {
    background: $white;
    color: $main-tone-2;
  }
}

.main-tone {
  .btn-get-started {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
    transition: 0.5s;
    color: $white;
    border: 1px solid $white;
  }
  
  .btn-get-started:hover {
    background: $white;
    color: $main-tone;
  }

  .btn-get-started-2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
    transition: 0.5s;
    border: 1px solid $white;
    background: $white;
    color: $main-tone;
  }
  
  .btn-get-started-2:hover {
    background: $main-tone;
    color: $white;
  }
}

.white-bg {
  .btn-get-started {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
    transition: 0.5s;
    border: 1px solid $white;
    background: $main-tone;
    color: $white;
  }
  
  .btn-get-started:hover {
    border: 1px solid $tone-1;
    background: $tone-1;
    color: $main-tone-2;
  }

  .btn-get-started-2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
    transition: 0.5s;
    border: 1px solid $main-tone;
    background: $white;
    color: $main-tone;
  }
  
  .btn-get-started-2:hover {
    border: 1px solid $tone-1;
    background: $tone-1;
  }
}


// Input
.input-get-started {
  height: 46px;
}

// Buttons
.btn-get-started {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 5px;
  transition: 0.5s;
  color: $main-tone;
  border: 1px solid $main-tone;
}

.btn-get-started:hover {
  background: $main-tone;
  color: $white;
}

.feature {
  padding: 60px 0;

  section {
    padding: 60px 0 !important;
  }
}

@media (max-width: 575px) {
  .feature {
    padding: 40px 0;
    text-align: center;

    section {
      padding: 30px 0 !important;
    }
  }
}

.cke_editable, .page-content {
  h2 {
    font-size: 24px !important;
  }

  h3 {
    font-size: 20px !important;
  }
}

.swal2-popup {
  font-size: 14px !important;
}

// Site Pages
.inner-page {
  padding: 50px 0;
}

@media (max-width: 575px) {
  .inner-page.container {
    padding: 30px 15px 30px;
  }
}

.html-content {
  // h1 {
  //     font-size: 2rem;
  // }

  // h2 {
  //     font-size: 1.7rem;
  // }

  // h3 {
  //     font-size: 1.1rem;
  // }

  // strong {
  //     font-weight: 800 !important;
  // }

  p {
      margin-bottom: 5px;
  }

  .table {
    width: 100% !important;
  }

  ul {
    list-style-image: url('../img/cbos/check.png');
  }
}

// .html-heading {
//     font-size: 1.3rem;
// }

// .html-sub-heading {
//   font-size: 1rem;
// }

// .html-title {
//   font-size: 1.1rem;
// }

.feature-bg-white {
  background: $white;
  padding: 30px;
  border-radius: 5px;
}

.ul-2-cols {
  ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}

.ul-3-cols {
  ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
  }
}

.ul-4-cols {
  ul {
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
  }
}

.heading-content {
  margin-top: 50px;
}

.note-float-right {
  padding: 20px 0 20px 20px;
}

.note-float-left {
  padding: 20px 20px 20px 0;
}

.lg-section {
  padding: 80px 0;
}

@media (max-width: 575px) {
  .lg-section {
    padding: 40px 0;
  }
}